<section>
  <div class="home-about-service">
    <h1>命名の達人</h1>
    <p>
      命名の達人は、新しいWebサービスやアプリを開発する際に、そのサービス名を考える支援をするためのツールです。
      特徴や用途などのキーワードを入力することで、自動的にサービス名の候補を生成することができます。
    </p>
  </div>
  <div class="home-keyword-input-form">
    <h2>キーワード入力欄</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <%= form_with(url: result_path, method: :get) do |form| %>
          <div class="mb-3">
            <%= form.label :"キーワード" %>
            <%= form.text_field :keyword, { class: "form-control", placeholder: "キーワードを入力してください。" } %>
          </div>
          <div class="mb-4 d-grid gap-2 mx-auto text-center">
            <%= form.submit "サービス名を生成", class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="home-service-consept">
    <div class="home-service-consept-about">
      <h2>コンセプト</h2>
      <p>
        個人開発で作ったアプリにどんなサービス名をつけようか迷ったことはありませんか？<br>
        そんな経験から生まれたのが「命名の達人」です。<br>
        キーワードを入力するとAIが自動でアプリ名を5つ考えてくれます。<br>
        もし気に入ったアプリ名が見つからなくても、キーワードを変えると新たなサービス名を考案してくれます。
      </p>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <%= form_with(url: result_path, method: :get) do |form| %>
          <div class="d-grid gap-2 mx-auto text-center">
            <%= form.hidden_field :keyword, value: "タスク管理アプリ" %>
            <%= form.submit "「タスク管理アプリ」を例に生成", class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    
  <div class="home-how-to-use">
    <h2>使い方</h2>
    <p>
      1.キーワードを入力欄に入力する。<br>
      2.入力欄の直下にある「サービス名を生成するボタン」を押す。<br>
      3.サービス名一覧が表示される。
    </p>
  </div>
</section>